node_modules/
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.development.local
.nyc_output
coverage
.DS_Store
*.log
build
dist
.cache
database.db
database.haultain.db
in_temp_input_dev
deploy*.sh
docker/compose*.yml
drizzle/
.vscode
.idea